.confirm_recap_style {
  background: #f3e9f1;
  border-color: black !important ;
}

.confirm_recap_style_2 {
  width: 75%;
  background: white;
  border-color: black !important ;
}

.confirm_recap_style_3 {
  font-weight: 600;
  font-size: 18px;
}

.no_shadow {
  text-shadow: none !important;
  font-weight: 600;
}

.p-style {
  font-size: 18px;
  font-weight: 500;
  color: #7d2d2d;
  border-bottom: 30px solid #7d2d2d;
  padding-bottom: 20px;
  border-left: 5px solid #7d2d2d;
  border-right: 5px solid #7d2d2d;
}
