
.btn_suprimer{
  width: 310px;
  height: 60px;
  background-color: rgb(239, 239, 239);
  color:black;
  border-width: 5px;
  border-radius: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-top: 3px;
  transition: all 0.8s;
  position: relative;
  padding: 10px;
}

.btn_suprimer:after {
  font-weight: 800;
  content: '>';
  position: absolute;
  opacity: 0;  
  right: -10px;
  transition: 0.1s;
  transition-timing-function:ease-out;
}

.btn_suprimer:hover:after {
  opacity: 1;
  right: 5px;
}

.btn_suprimer_2 {
width: 80px !important;
}

.btn_suprimer_3 {
  background-color: #a02d67fa !important;
  }

.delete-icon {
  height: 100%;
}