/* block_title */
.block_title {
  height: 100%;
  padding-top: 150px;
  background: radial-gradient(at 50% 250px, transparent, rgba(0, 0, 0) 650px),
    linear-gradient(
      75deg,
      rgba(209, 121, 66, 0.55) 0%,
      rgba(125, 45, 45, 0.55) 50%,
      rgba(159, 69, 222, 0.55) 100%
    );
  position: relative;
  z-index: 0;
  bottom: 600px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.block_title p {
  padding-top: 20px;
  width: 50%;
  font-size: 26px;
  font-weight: 700;
}

.block_title h2 {
  font-style: italic;
}

/* Genéral*/
a {
  text-decoration: none;
  color: #342929;
}

a:hover {
  text-decoration: none;
  color: #7d2d2d;
}

ul {
  list-style-type: none;
  width: 100%;
}

h1 {
  text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.5),
    0px -5px 40px rgba(255, 255, 255, 0.4);
  font-family: "Gluten", cursive;
}

/* Tablet-Laptop */
@media all and (min-width: 767px) and (max-width: 1024px) {
  .block_title {
    background: radial-gradient(at 50% 250px, transparent, rgba(0, 0, 0) 500px),
      linear-gradient(
        75deg,
        rgba(209, 121, 66, 0.55) 0%,
        rgba(125, 45, 45, 0.55) 50%,
        rgba(159, 69, 222, 0.55) 100%
      );
  }
}

/* small */
@media all and (max-width: 767px) {
  .block_title {
    background: radial-gradient(at 50% 250px, transparent, rgba(0, 0, 0) 250px),
      linear-gradient(
        75deg,
        rgba(209, 121, 66, 0.55) 0%,
        rgba(125, 45, 45, 0.55) 50%,
        rgba(159, 69, 222, 0.55) 100%
      );
      padding-top: 100px;
  }

  .block_title p {
    padding-top: 20px;
    width: 70%;
    font-size: 22px;
    font-weight: 600;
  }

  .block_title h2 {
    margin: auto;
    font-style: italic;
    width: 90%;
    font-weight: 700;
  }

  .table {
    font-size: 12px;
  }
}