/* block_title */
.block_title {
  height: 100%;
  padding-top: 150px;
  background: radial-gradient(at 50% 250px, transparent, rgba(0, 0, 0) 600px), linear-gradient(
    75deg,
    rgba(209, 121, 66, 0.55) 0%, 
    rgba(125, 45, 45, 0.55) 50%,
    rgba(159, 69, 222, 0.55) 100%
  );
  position: relative;
  z-index: 0;
  bottom: 600px;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}

.block_title p {
  padding-top: 20px;
  width: 50%;
  font-size: 26px;
  font-weight: 700;
}

.block_title h2 {
  font-style: italic;
}

/*  */
p span {
  font-family: "Belligerent Madness", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #342929;
}

a:hover {
  text-decoration: none;
  color: #7d2d2d;
}

ul {
  list-style-type: none;
  width: 100%;
}

h1 {
  text-shadow: 2px 8px 5px rgba(0, 0, 0, 0.5),
    0px -5px 40px rgba(255, 255, 255, 0.4);
}

h1 {
  font-family: "Gluten", cursive;
}

article {
  padding-top: 20px;
}

article p {
  padding-bottom: 10px;
  border-bottom: solid 4px black;
}

/* produit */
.teddy_card_detail_part_1 {
  padding: 40px 30px 80px 60px;
}

.teddy_card_detail_part_2 {
  padding: 95px 60px 60px 30px;
}

.card_name_xl
{
text-align: center;
}

.card_image_xl
{
  padding:10px;
  width: 100%;
  border-radius: .3rem;
  max-width: 1000px;
}

.teddy_card_detail_part_2 span {
  font-weight: 700;
}

.teddy_card_detail_part_2 label
{
  font-weight: 700;
}

.div_price_xl {
  display: flex;
  font-weight: 600;
  }

.table {
vertical-align: middle;
  }

/* small */
@media all and (max-width:767px) 
{

}