// Teddy card
.card_image {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  max-height: 350px;
  border-radius: 0.3rem;
  margin: auto;
  display: flex;
  justify-content: center;
}

.teddy-card-fluid-part-2 p {
  padding-bottom: 30px;
}
.price {
  font-weight: 600;
}
article {
  width: 100%;
  height: 470px;
}

h4 {
  border-top: solid 5px black;
  padding-top: 10px;
}

.div_image {
  width: 100%;
  height: 75%;
}

.div_price {
  display: flex;
  font-weight: 400;
}

article {
  padding-top: 20px;
  height: 450px;
}

article p {
  padding-bottom: 10px;
  border-bottom: solid 4px black;
}

.max_w {
max-width: 600px;
}

/* Tablet-Laptop */
@media all and (min-width: 767px) and (max-width: 1200px) {
  .card_image {
    max-width: 350px;
  }
}

/* small */
@media all and (max-width: 767px) {
  .card_image {
    max-width: 250px;
  }

  article {
    height: 320px;
  }
}
